Package: deployer
Version: 0.1
Depends: curl, python3-venv
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: Asim Altuwayjiri
Description: Deploy a Scalable and Secure Applications with Kubernetes.
